{% extends 'shop/base.html' %}
{% load static %}

{% block content %}
    <div class="hero-section">
        <div class="container">
            <div class="hero-content">
                <h2>Enjoy shopping with Us every anytime</h2>
                <p>We got the best electronics and other products you may need to purchase this season. We will be glad to serve you.</p>
                <a href="#">Learn more</a>
            </div>
        </div>
        
    </div>

    <!-- RECENT PRODUCTS -->

    <section>
        <div class="top-products">
            <div class="container">
                <div class="header">
                    <h2>Our Top products</h2>
                </div>
                
               <div class="products-wrapper">
                    <div class="top-product">
                        <div class="header">
                            <h4>Electronics</h4>
                        </div>
                        <div class="image">
                            <img src="./static/images/smart tv2.png" alt="">
                        </div>
                        
                        
                    </div>

                    <div class="top-product">
                        <div class="header">
                            <h4>Computing</h4>
                        </div>
                        <div class="image">
                            <img src="./static/images/smart tv2.png" alt="">
                        </div>
                        
                        
                    </div>

                    <div class="top-product">
                        <div class="header">
                            <h4>Sporting Goods</h4>
                        </div>
                        <div class="image">
                            <img src="./static/images/smart tv2.png" alt="">
                        </div>
                        
                        
                    </div>

                    <div class="top-product">
                        <div class="header">
                            <h4>Musical Instruments</h4>
                        </div>
                        <div class="image">
                            <img src="./static/images/musical.jpg" alt="">
                        </div>
                        
                        
                    </div>  
               </div>     
            </div>
        </div>
    </section>

    <section>
        <div class="best-deals">
            <div class="container">
                <h2>Best deals for you!</h2>
                <ul>
                   
                    <li><a href="#">computing</a></li>
                    <li><a href="#">electronics</a></li>
                    <li><a href="#">musical</a></li>
                    <li><a href="#">furniture</a></li>
                    <li><a href="#">fashion</a></li>
                    <li><a href="#">gadgets</a></li>
                </ul>
                <div class="deal-container">
                    <div class="deal">
                        <div class="image">
                            <img src="https://ke.jumia.is/cms/2022/BlackFriday/Userneeds/MensFashion/Freelinks/Shirts.png" alt="">
                        </div>
                        <div class="data">
                            <a href="#">Men Shirts</a>
                            <p>Clothing</p>
                           
                            
                            <div class="shop-item">
                                <div class="cost">
                                    <h4>$1199.5  <s>$2399</s></h4>
                                </div>
                                <div class="shop">
                                    <button><i class="fa-solid fa-heart"></i></button>
                                    <button><i class="fa-solid fa-cart-shopping"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="deal">
                        <div class="image">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTlSB7z0j4Sq7Qp-DBCtVydeS-7gmzV9ZCgG2YN7xyhM0YsNp54nXA1tMsqL0x7WX5MCdE&usqp=CAU" alt="">
                        </div>
                        <div class="data">
                            <a href="#">Smart Tvs</a>
                            <p>Electricals</p>
                           
                            
                            <div class="shop-item">
                                <div class="cost">
                                    <h4>$1199.5  <s>$2399</s></h4>
                                </div>
                                <div class="shop">
                                    <button><i class="fa-solid fa-heart"></i></button>
                                    <button><i class="fa-solid fa-cart-shopping"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>

                   <div class="deal">
                        <div class="image">
                            <img src="https://images.unsplash.com/photo-1611186871348-b1ce696e52c9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YXBwbGUlMjBsYXB0b3B8ZW58MHx8MHx8&w=1000&q=80" alt="">
                        </div>
                        <div class="data">
                            <a href="#">Apple laptop</a>
                            <p>Computer & Accessories</p>
                           
                            
                            <div class="shop-item">
                                <div class="cost">
                                    <h4>$1199.5  <s>$2399</s></h4>
                                </div>
                                <div class="shop">
                                    <button><i class="fa-solid fa-heart"></i></button>
                                    <button><i class="fa-solid fa-cart-shopping"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="deal">
                        <div class="image">
                            <img src="https://images.pexels.com/photos/1246437/pexels-photo-1246437.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="">
                        </div>
                        <div class="data">
                            <a href="#">Yamaha Piano</a>
                            <p>Musical Instruments</p>
                           
                            
                            <div class="shop-item">
                                <div class="cost">
                                    <h4>$1199.5  <s>$2399</s></h4>
                                </div>
                                <div class="shop">
                                    <button><i class="fa-solid fa-heart"></i></button>
                                    <button><i class="fa-solid fa-cart-shopping"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="deal">
                        <div class="image">
                            <img src="https://images.pexels.com/photos/1571460/pexels-photo-1571460.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="">
                        </div>
                        <div class="data">
                            <a href="#">Apple iPad Air</a>
                            <p>Computer & Accessories</p>
                           
                            
                            <div class="shop-item">
                                <div class="cost">
                                    <h4>$1199.5  <s>$2399</s></h4>
                                </div>
                                <div class="shop">
                                    <button><i class="fa-solid fa-heart"></i></button>
                                    <button><i class="fa-solid fa-cart-shopping"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="deal">
                        <div class="image">
                            <img src="https://images.pexels.com/photos/341523/pexels-photo-341523.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="">
                        </div>
                        <div class="data">
                            <a href="#">Apple iPad Air</a>
                            <p>Computer & Accessories</p>
                           
                            
                            <div class="shop-item">
                                <div class="cost">
                                    <h4>$1199.5  <s>$2399</s></h4>
                                </div>
                                <div class="shop">
                                    <button><i class="fa-solid fa-heart"></i></button>
                                    <button><i class="fa-solid fa-cart-shopping"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="deal">
                        <div class="image">
                            <img src="https://images.pexels.com/photos/416778/pexels-photo-416778.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="">
                        </div>
                        <div class="data">
                            <a href="#">Apple iPad Air</a>
                            <p>Computer & Accessories</p>
                           
                            
                            <div class="shop-item">
                                <div class="cost">
                                    <h4>$1199.5  <s>$2399</s></h4>
                                </div>
                                <div class="shop">
                                    <button><i class="fa-solid fa-heart"></i></button>
                                    <button><i class="fa-solid fa-cart-shopping"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="deal">
                        <div class="image">
                            <img src="https://ke.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/48/2636211/1.jpg?7006" alt="">
                        </div>
                        <div class="data">
                            <a href="#">Apple iPad Air</a>
                            <p>Computer & Accessories</p>
                           
                            
                            <div class="shop-item">
                                <div class="cost">
                                    <h4>$1199.5  <s>$2399</s></h4>
                                </div>
                                <div class="shop">
                                    <button><i class="fa-solid fa-heart"></i></button>
                                    <button><i class="fa-solid fa-cart-shopping"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
               
            </div>
        </div>
    </section>


    <section>
        <div class="shop-description">
            <div class="container">
                <div class="description-card">
                    <h2>Get 5% back on every 2000 shopping</h2>
                    <a href="#">Learn more</a>
                </div>
            </div>
           
        </div>
    </section>

    <section>
        <div class="services">
            <div class="container">
                <div class="shopping-help">
                    <h3>Services to help you shop</h3>
                    <div class="cards">
                        <div class="card">
                            <h4>Freguently asked questions</h4>
                            <p>updates on secure shopping in our app</p>
                            <img src="./static/images/qustions.jpg" alt="">
                        </div>

                        <div class="card">
                            <h4>Online payment process</h4>
                            <p>updates on secure shopping in our app</p>
                            <img src="./static/images/buy.jpg" alt="">
                        </div>

                        <div class="card">
                            <h4>Home delivery option</h4>
                            <p>updates on secure shopping in our app</p>
                            <img src="./static/images/delivery.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}